@import url(main.css);

#topBanner { 
    height: 100dvh; 
    flex-direction: row; 
    justify-content: center; 
}

#lTopBanner, #rTopBanner { 
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lTopBanner {
    gap: 3rem;
    font-size: 2.2rem;
    padding-left: 3rem;
    text-indent: 2.5rem;
    flex-direction: column;
} 

#rTopBanner { gap: 3rem }

#rTopBanner img {width: 75%;}

#topSocialLinks a:hover{
    padding-left: 0;
    padding-right: 0;
    color: var(--primary);
    background-color: var(--secondary);
    border-bottom: .5px solid var(--primary);
}


.pageLink::before {
    width: 0;
    height: 1px;
    content: '';
    bottom: 1rem;
    position: absolute;
    transition: .25s ease-in-out;
    background-color: var(--primary);
}

.pageLink:hover {
    color: var(--primary);
    background-color: var(--quaternary);
}

.pageLink:hover.pageLink::before{
    width: 85%;   
}
