@import url(main.css);

#lBanner, #rBanner { 
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
}

#lBanner {
    font-size: 2.2rem;
    padding-left: 3rem;
    text-indent: 2.5rem;
}