:root{
    --primary: #efefef;
    --secondary: #483f48;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {min-height: 100vh;}

#banner{
    width: 100dvw;
    display: flex;
    padding: 2.5rem 0;
    max-height: 100dvh;
    align-items: center;
    background-color: var(--secondary);
    justify-content: space-between;
}

#lBanner {color: var(--primary);}

#rBanner img{
    margin: 0 auto;
    padding: .25rem;
    border-radius: 50%;
    border: 1px solid var(--primary);
}